.container{
	margin-top: 20px;
	max-width: 800px;
}
/* */
    .chat-msg {
        background-color: #f4f8fa;
        border-left: 3px solid #5bc0de;
        margin: 20px 0;
        padding: 20px;
    }
    .chat-msg-sender {
        background-color: #fff;
        border-right: 3px solid #eee;
        margin: 20px 0;
        padding: 20px;
        text-align: right;
    }
/* */
#frmChat{
	margin: 10px;
}
#chatbox {  
    height:300px;
    overflow:auto; 
} 
.chat-line span{
	border-top: 1px solid #ededed;
    color: #666;
    display: block;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
}